    h1 {
        font-size: 60px;
        color: #ff0000;
    }
    h2 {
        font-size: 40px;
        color: #00FF00;
    }
    h3 {
        background-color: #0000ff;
        color: #ffffff
    }
    p {
        font-weight: bold;
        font-size: 10px;

    }